@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";

body{
    background-color: #182026;
}


.tables{
    width: 40%;
    height: 100%;
    margin-left: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;

}
.headings{
    size: 5px;
    color: white;
    right: 100px;
    margin-left: 300px;
    margin-top: 10px;
    display: inline-block;

}

#icon{
padding: 5px 10px;
font-size: 12px;
line-height: 1;
margin-left: 10px;
margin-top: 5px;

}

#teamlogo{
 background-image: url()
}

.columns{
    width: 50px;
    overflow: hidden;
}

#questions{

    margin-left: 300px;
    color: antiquewhite;
}

#strategybutton1{
    padding: 5px 12px;
    margin-right: 10px;
    margin-left: 20px;
    align-content: center;
    background: #62D96B;
    border-color: #62D96B;
}

#strategybutton2{
    padding: 5px 12px;
    margin-right: 10px;
    margin-left: 20px;
    align-content: center;
    background: #FF6E4A;
    border-color: #FF6E4A;
}